{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Registro{% endblock %}
{% block metadesc %}Regístrate y participa en DeSymfony{% endblock %}
{% block pageid 'registro' %}

{% block contenido %}

<h1>Registro</h1>

{% if( app.session.flash('notice') ) %}
<div class="notice">
    <p>{{ app.session.flash('notice') }}</p>
</div>
{% endif %}

{{ form_errors(form) }}

<form action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.usuario.nombre) }}
    <p>
        {{ form_label(form.usuario.nombre) }}
        {{ form_widget(form.usuario.nombre) }}
    </p>

    {{ form_errors(form.usuario.apellidos) }}
    <p>
        {{ form_label(form.usuario.apellidos) }}
        {{ form_widget(form.usuario.apellidos) }}
    </p>

    {{ form_errors(form.usuario.email) }}
    <p>
        {{ form_label(form.usuario.email) }}
        {{ form_widget(form.usuario.email) }}
    </p>

    <div class="grid_6 alpha">
        {{ form_errors(form.usuario.dni) }}
        <p>
            {{ form_label(form.usuario.dni) }}
            {{ form_widget(form.usuario.dni) }}
        </p>
    </div>
    
    <div class="grid_6 omega">
        {{ form_errors(form.usuario.telefono) }}
        <p>
            {{ form_label(form.usuario.telefono) }}
            {{ form_widget(form.usuario.telefono) }}
        </p>
    </div>

    {{ form_errors(form.usuario.direccion) }}
    <p>
        {{ form_label(form.usuario.direccion) }}
        {{ form_widget(form.usuario.direccion) }}
    </p>
    
    <div class="grid_6 alpha">
        {{ form_errors(form.usuario.password.first) }}
        <p>
            {{ form_label(form.usuario.password.first, 'Contraseña') }}
            {{ form_widget(form.usuario.password.first) }}
        </p>
    </div>
    
    <div class="grid_6 omega">
        {{ form_errors(form.usuario.password.second) }}
        <p>
            {{ form_label(form.usuario.password.second, 'Repetir contraseña') }}
            {{ form_widget(form.usuario.password.second) }}
        </p>
    </div>

    {{ form_errors(form.eresUnRobot) }}
    <p>
        {{ form_label(form.eresUnRobot) }}
        {{ form_widget(form.eresUnRobot) }}
    </p>

    {{ form_errors(form._token) }}
    {{ form_widget(form._token) }}

    <input type="submit" value="Regístrate" />
</form>
{% endblock %}

{% block lateral %}
<div class="usuario">
<p>¿Ya estás registrado? <a href="{{ path('login') }}">Haz login</a></p>
</div>

<h3>Ventajas de asistir a las jornadas</h3>
<ul>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
</ul>

<h3>Preguntas frecuentes</h3>
<ul>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
</ul>
{% endblock %}
