<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Desymfony{% endblock %}</title>
  
  <link href="{{ asset('bundles/desymfony/css/reset.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/desymfony/css/960.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/desymfony/css/main.css') }}" rel="stylesheet" type="text/css" />
  {% block stylesheets %}{% endblock %}
  
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block pageid '' %}">
<div class="container_16">
  <header>
    <h1 class="grid_6"><a href="#">Jornadas Symfony 2011</a></h1>
    
    <nav class="grid_10">
      <ul>
        <li><a href="#">Inicio</a></li>

        <li><a href="{{ path('ponencias') }}">Ponencias</a></li>

        <li><a href="{{ path('ponentes') }}">Ponentes</a></li>

        {% if not is_granted(['ROLE_USER', 'ROLE_ADMIN']) %}
            <li><a href="{{ path('registro') }}">Registro</a></li>
        {% endif %}

        <li><a href="{{ path('estatica', { 'pagina': 'contacto'}) }}">Contacto</a></li>

        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('admin_portada') }}">Admin</a></li>
        {% endif %}

        {% if is_granted(['ROLE_USER', 'ROLE_ADMIN']) %}
            <li><a href="{{ path('logoff') }}">Salir</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="clear"></div>
  </header>
  
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
  
  <footer>
    <a href="{{ path('estatica', { 'pagina': 'copyright'}) }}">&copy; 2011 - desymfony</a> |
    <a href="{{ path('estatica', { 'pagina': 'privacidad'}) }}">Privacidad</a> |
    <a href="{{ path('estatica', { 'pagina': 'condiciones'}) }}">Condiciones de uso</a> |
  </footer>
</div>
</body>
</html>