<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} | Desymfony.com</title>

  <link href="{{ asset('bundles/desymfony/css/reset.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/desymfony/css/960.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/desymfony/css/main.css') }}" rel="stylesheet" type="text/css" />

  {% block stylesheets %}{% endblock %}

  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block pageid '' %}">
  <header>
    <div class="container_16">
    {% block header %}{% endblock %}
    </div>
  </header>
  
  <div class="container_16">
    {% block body %}{% endblock %}

    <footer>
      {% block footer %}
        <a href="{{ path('estatica', { 'pagina': 'copyright'}) }}">&copy; {{ 'now' | date('Y') }} - desymfony</a>
        <a href="{{ path('estatica', { 'pagina': 'privacidad'}) }}"> Privacidad</a>
        <a href="{{ path('estatica', { 'pagina': 'condiciones'}) }}"> Condiciones de uso</a>
      {% endblock %}
    </footer>
  </div>
  {% block javascripts %}{% endblock %}
</body>
</html>