<div class="grid_2 alpha">
  {{ ponencia.hora |  date('H:i') }} - {{ ponencia.horaFinalizacion | date('H:i') }}
  {% include "DesymfonyBundle:Ponencia:meApunto.html.twig" %}
</div>
<div class="grid_10 omega">
  <a href="{{ path('ponencia', {'slug': ponencia.slug} ) }}">{{ ponencia.titulo }}</a>
  <p>{{ ponencia.descripcion | truncate(300, true) }}</p>
</div>
