{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}{{ ponencia.titulo }}{% endblock %}
{% block metadesc %}{{ ponencia.titulo }} en DeSymfony, por {{ ponencia.ponente }}, se impartirá el {{ ponencia.fecha | date("d M") }}.{% endblock %}
{% block pageid 'ponencia' %}

{% block contenido %}
<h1>{{ ponencia.titulo }}</h1>
<p>{{ ponencia.descripcion }}</p>

<div class="grid_2 alpha">
    <strong>Fecha</strong> {{ ponencia.fecha | date("d M") }}
</div>

<div class="grid_2">
    <strong>Hora</strong> {{ ponencia.hora | date("H:i") }} - {{ ponencia.horaFinalizacion | date("H:i") }}
</div>

<div class="grid_2">
    <strong>Idioma</strong> {{ idiomas[ponencia.idioma] }}
</div>

<div class="grid_3">
    <strong>Ponente</strong> <a href="{{ path('ponentes') }}">{{ ponencia.ponente }}</a>
</div>

<div class="grid_3 omega">
    {% include "DesymfonyBundle:Ponencia:meApunto.html.twig" %}
</div>

<!--
<div>
    <strong>Impartida por:</strong> <a href="{# {{ path('ponentes') }}">{{ ponencia.ponente }} #}</a>
</div>
-->
{% endblock %}