{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Mi perfil{% endblock %}
{% block pageid 'usuario' %}

{% block contenido %}
<h1>Mi perfil</h1>

{# Lo que viene a continuación en esta plantilla es ideal para hacer un macro #}
<p>
    <strong>Nombre</strong> {{ usuario.nombre }}
</p>
<p>
    <strong>Apellidos</strong> {{ usuario.apellidos }}
</p>
<p>
    <strong>Email</strong> {{ usuario.email }}
</p>
<p>
    <strong>DNI</strong> {{ usuario.dni }}
</p>
<p>
    <strong>Teléfono</strong> {{ usuario.telefono }}
</p>
<p>
    <strong>Dirección</strong> {{ usuario.direccion }}
</p>

<h2>Ponencias a las que te has apuntado</h2>
<ul>
    {% for ponencia in usuario.ponencias %}
    <li>
        <a href="{{ path('ponencia', {'slug': ponencia.slug} ) }}" >{{ ponencia.titulo }}</a>
    </li>
    {% else %}
    <li>Todavía no te has apuntado a ninguna ponencia<li>
    {% endfor %}
</ul>
{% endblock %}

{% block lateral %}
<h3>Ventajas de asistir a las jornadas</h3>
<ul>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
</ul>
<h3>Preguntas frecuentes</h3>
<ul>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
    <li>Lorem ipsum et dolor</li>
</ul>
{% endblock %}