{% extends "::base.html.twig" %}

{% block header %}
<h1 class="grid_6 alpha"><a href="{{ path('admin_portada') }}">Gestión de deSymfony.com</a></h1>

<nav class="grid_10 omega">
    <ul>
        <li><a href="{{ path('admin_ponencia_list') }}">Ponencias</a></li>
        <li><a href="{{ path('portada') }}">Sitio público</a></li>
        <li>{{ app.user.username }} <a href="{{ path('logout') }}">salir</a></li>
    </ul>
</nav>

<h1>{{ block('title') }}</h1>
{% endblock %}