{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Ponencias{% endblock %}
{% block metadesc %}El primer día se impartirán las charlas: {{ponenciasDiaUno | join(", ")}}. Las charlas para el segundo día serán: {{ponenciasDiaDos | join(", ")}}.{% endblock %}
{% block pageid 'ponencias' %}

{% block contenido %}
<h1>Ponencias</h1>

<h2>Primer día (1 de julio)</h2>

{% for ponencia in ponenciasDiaUno %}
  <div>
  {% include 'DesymfonyBundle:Ponencia:bloqueGrande.html.twig' %}
  </div>
{% endfor %}

<h2>Segundo día (2 de julio)</h2>

{% for ponencia in ponenciasDiaDos %}
  <div>
  {% include 'DesymfonyBundle:Ponencia:bloqueGrande.html.twig' %}
  </div>
{% endfor %}

<p>Ponencias en formatos
<a href="{{ path('ponencias', {'_format': 'xml'}) }}">XML</a> | <a href="{{ path('ponencias', {'_format': 'ics'}) }}">iCal</a> </p>
{% endblock %}

{% block lateral %}
<h3>¿Echas en falta algún tema?</h3>
<p>Accede a la sección <a href="#"><em>Call for papers</em></a> y envíanos tu propuesta</p>

{{ parent() }}
{% endblock %}