{% extends "::base.html.twig" %}

{% block title %}{{ ponencia.titulo }}{% endblock %}
{% block pageid 'ponencias' %}

{% block body %}
<article id="contenido">

    <section id="principal" class="grid_12">
      <h1>{{ ponencia.titulo }}</h1>

      <p>{{ ponencia.descripcion }}</p>

      <div class="grid_3 alpha">
        <strong>Fecha:</strong> {{ ponencia.fecha|date("d M") }}
      </div>
      <div class="grid_3">
        <strong>Hora:</strong> 9:00 - 10:00
      </div>
      <div class="grid_3">
        <strong>Idioma:</strong> {{ idiomas[ponencia.idioma] }}
      </div>
      <div class="grid_3 omega">
        {% render "DesymfonyBundle:Ponencia:meApunto" with {'ponencia': ponencia } %}
      </div>

      <div>
        <strong>Impartida por:</strong> <a href="{{ path('ponentes') }}">{{ ponencia.ponente }}</a>
      </div>
    </section>

    <section id="secundario" class="grid_4">

      <div>
        BLOQUE COMUN CON LA INFORMACION DEL USUARIO
      </div>

    </section>
    <div class="clear"></div>

</article>
{% endblock %}