{% extends "DesymfonyBundle::layout.html.twig" %}

{% block title %}Ponentes{% endblock %}
{% block metadesc %}{% filter format_metadesc %}
  En esta edición contaremos con:
    {% for ponente in ponentes %}

      {%if not loop.last and not loop.first %}, 
      {% elseif loop.last %}y 
      {%endif%}

        {{ ponente.nombreCompleto }}

    {% endfor %}.
{% endfilter %}{% endblock %}
{% block pageid 'ponentes' %}

{% block contenido %}

    <h1>Ponentes</h1>

    {% for ponente in ponentes %}
        <div class="grid_9 alpha">

            <h2>{{ ponente.nombreCompleto }}</h2>
            <p>{{ ponente.biografia | auto_link_text }}</p>

            <p><strong>Imparte las siguientes ponencias</strong></p>
            <ul>

            {% for ponencia in ponente.ponencias %}
            <li>
                <a href="{{ path('ponencia', { 'slug': ponencia.slug})  }}">{{ ponencia.titulo }}</a>
            </li>
            {% else %}
            <li>
                <p>No imparte ninguna ponencia</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>

        <ul>
            {% if ponente.twitter %}
            <li><a href="{{ ponente.twitter }}">Twitter</a></li>
            {% endif %}

            {% if ponente.linkedin %}
            <li><a href="{{ ponente.linkedin }}">Linkedin</a></li>
            {% endif %}
        </ul>
    </div>
{% endfor %}
{% endblock %}

{% block lateral %}
<h3>¿Quieres ser ponente en las Jornadas Symfony 2011?</h3>
<p>Accede a las <a href="#">sección de Call for Papers</a> y envía tu propuesta.</p>

{{ parent() }}
{% endblock %}
