{% extends "::base.html.twig" %}

{% block title %}PONENTES{% endblock %}
{% block pageid 'ponentes' %}

{% block body %}

    <h1>PONENTES</h1>
    {% for ponente in ponentes %}
        <div class="grid_9 alpha">
            <h2>{{ ponente.nombre }} {{ ponente.apellidos }}</h2>
            <p>{{ ponente.biografia|auto_link_text|raw }}</p>
            <p>Imparte las siguientes ponencias</p>
            <ul>

            {% for ponencia in ponente.ponencias %}
            <li>
                <a href="{{ path('ponencia', { 'slug': ponencia.slug})  }}">{{ ponencia.titulo }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="grid_3 omega">
        <p><strong>Más información</strong></p>
    
        <ul>
            {% if(ponente.twitter) %}
            <li><a href="{{ ponente.twitter }}">Twitter</a></li>
            {% endif %}
        
            {% if(ponente.linkedin) %}
            <li><a href="{{ ponente.linkedin }}">Linkedin</a></li>
            {% endif %}
        </ul>
    </div>
{% endfor %}
{% endblock %}

{% block lateral %}
<h3>¿Quieres ser ponente en las Jornadas Symfony 2011?</h3>
Accede a las <a href="#">sección de Call for Papers</a> y envía tu propuesta.

{{ parent() }}

{% endblock %}
