{% extends "DesymfonyBundle::layout_admin.html.twig" %}

{% block title %}Listado de ponencias{% endblock %}
{% block pageid 'admin' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Fecha/Hora</th>
            <th>Título</th>
            <th>Idioma</th>
            <th>Apuntados</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for ponencia in ponencias %}
        <tr>
            <td>{{ ponencia.fecha | date('d/m/Y') }} {{ ponencia.hora | date('H:i') }} </td>
            <td><a href="{{ path('admin_ponencia_edit', { 'id': ponencia.id }) }}">{{ ponencia.titulo }}</a></td>
            <td>{{ idiomas[ponencia.idioma] }}</td>
            <td>{{ ponencia.usuarios | length }}</td>
            <td>
                <a href="{{ path('admin_ponencia_apuntados', { 'id': ponencia.id }) }}">Ver apuntados</a>
                <a href="{{ path('admin_ponencia_delete', { 'id': ponencia.id }) }}">Borrar</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No existe ninguna ponencia</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_ponencia_new') }}">Nueva ponencia</a>
{% endblock %}