{% extends "::base.html.twig" %}

{% block header %}
  <h1 class="grid_6"><a href="{{ path('portada') }}">Jornadas Symfony 2011</a></h1>

  <nav class="grid_10">
  <ul>
    <li><a href="{{ path('ponencias') }}">Ponencias</a></li>
    <li><a href="{{ path('ponentes') }}">Ponentes</a></li>

    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_portada') }}">Admin</a></li>
    {% else %}
    <li><a href="{{ app.user ? path('perfil') : path('registro') }}">
      {{ app.user ? 'Mi perfil' : 'Regístrate' }}
    </a></li>
    {% endif %}

    <li><a href="{{ path('estatica', { 'pagina': 'contacto'}) }}">Contacto</a></li>

    {% if app.user %}
    <li><a href="{{ path('logout') }}">Salir</a></li>
    {% endif %}
  </ul>
  </nav>
{% endblock %}

{% block body %}
  <article id="contenido">
    <section id="principal" class="grid_12">
      {% block contenido %}{% endblock %}
    </section>
    <section id="lateral" class="grid_4">
      {% block lateral %}
          <div class="usuario">
          {% if is_granted(['ROLE_USER']) %}
          {# usuario #}
              <h4><a href="{{ path('perfil') }}">{{ app.user.nombreCompleto }}</a></h4>
              <p>Estás apuntado a <strong>{{ app.user.numeroPonencias }}</strong> ponencias</p>
          {% elseif is_granted(['ROLE_ADMIN']) %}
          {# administrador #}
              <h4>Administrador</h4>
              <p>Estás logueado como <strong>{{ app.user.username }}</strong></p>
          {% else %}
          {# no ha hecho login #}
              <a href="{{ path('registro') }}" class="btn">Regístrate</a>
              <p>¿Ya estás registrado? <a href="{{ path('login') }}">Haz login</a></p>
          {% endif %}
          </div>

          <p>Las Jornadas Symfony 2011 se celebran del <strong>1 al 3 de julio</strong> de 2011 en la Universidad Jaume I de  Castellón</p>
          <p>El aforo está limitado a las 175 primeras inscripciones recibidas</p>

          <h3>Ventajas de asistir</h3>
          <ul>
              <li>1 curso de 6 horas sobre Symfony2</li>
              <li>10 sesiones prácticas</li>
              <li>Varios talleres prácticos</li>
              <li>Mesas redondas</li>
              <li>Networking</li>
          </ul>
      {% endblock %}
    </section>
  </article>
{% endblock %}
